<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  <script type=text/javascript>
    $(function() {
      get_netem = function() {
        $.getJSON('/_get_netem', {
          dev: $("#dev_select").val(),
        }, function(data) {
          $("#netem_config").text(data.netem_config);
          $("#delay").val(data.delay);
          $("#d_var").val(data.d_var);
          $("#loss").val(data.loss);
        });
        return false;
      }
      $('#dev_select').bind('change', get_netem);
      $( document ).ready(get_netem);

      $('a#set_delay').bind('click', function() {
        $.getJSON('/_set_delay', {
          dev: $("#dev_select").val(),
          delay: $("#delay").val(),
          d_var: $("#d_var").val(),
          loss:  $("#loss").val(),
        }, function(data) {
          $("#netem_config").text(data.netem_config);
          $("#delay").val(data.delay);
          $("#d_var").val(data.d_var);
          $("#loss").val(data.loss);
        });
        return false;
      });
    });
  </script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Network Emulator Configuration</h3>
      </div>
      <hr/>
      <div>
        <p>
        <select id="dev_select">
          <option value="eth4_v406"/>VLAN 406</option>
          <option value="eth4_v407"/>VLAN 407</option>
        </select>
        <p>
        <span id="netem_config" style="visibility: hidden"></span>
        <p>
        Delay: <input type="text" size="6" id="delay" value="1ms"/>
        Delay variation: <input type="text" size="4" id="d_var" value="1ms"/>
        Loss: <input type="text" size="6" id="loss" value="0.001%"/>
        <p><a href="javascript:void();" id="set_delay">Update</a>
        <script type="text/javascript">
            $('a#get_netem').click();
        </script>
      </div>
    
    </div>
  </body>
</html>

